.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__mainLogo {
  background-repeat: no-repeat;
  background-image: url("/images/logo.png");
}
.navbar-nav > li {
  margin-left: 20px;
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li .commonNavIcon {
  height: 24px;
  width: 24px;
  background-size: 22px !important;
  background-repeat: no-repeat;
}
.navbar-nav > li .profile-icon {
  background-image: url("/images/parts3.png");
}
body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}
.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}
.devise-card {
  border: none;
}
.form-wrap {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}
.logo-img {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  height: 56px;
  width: 180px;
  background-size: 160px;
  background-size: 180px !important;
}
.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}
.devise-link {
  text-align: center;
  margin: 16px 0;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}
.profile-wrap {
  margin: 40px 0px;
}
.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.setting {
  background-image: url("/images/parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 18px 0 0 10px;
  background-size: 22px !important;
  border: none;
}
.setting:hover {
  cursor: pointer;
}
